

<section class="hero" [ngStyle]="{ 'background-image': backgroundImage }">

  <nav class="navbar navbar-expand-lg navbar-dark bg-black py-5">
    <div class="container">

      <div class="d-block d-lg-none text-light text-center w-100">
        <a class="navbar-brand  d-block" href="">
          <img src="../home-img/Graph.png" alt="Logo" class="text-white" style="height: 50px;">
        </a>
        <div class="d-flex justify-content-center gap-3">
          <a href="#" class="nav-link home text-white px-2">Home</a>
          <a href="/login" class="nav-link text-white px-2">Login</a>
          <a href="/signup" class="nav-link text-white px-2">Signup</a>
        </div>
      </div>

      <div class="d-none d-lg-flex w-100 justify-content-between align-items-center">
        <a class="navbar-brand" href="#">
          <img src="../home-img/Graph.png" alt="Logo" style="height: 50px;">
        </a>
        <ul class="navbar-nav flex-row gap-4 align-items-center mb-0">
          <li class="nav-item">
            <a class="nav-link home text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/signup">Signup</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/cart">
              <i class="fas fa-shopping-cart me-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero-content">
    <div class="hero-text-block">
      <h2 class="fw-bold">Mega Discounts On Tasty Bite and Healthy Food</h2>
      <p class="lead">Whether you're a home cook or a seasoned chef. Our carefully curated recipes and cooking tips will inspire you to refine your skills and explore new flavors. 🍽️🔥</p>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
      <a routerLink="" class="btn btn1 text-uppercase">
        Register
      </a>
      <a routerLink="" class="btn btn-outline-light text-uppercase">
        Order here
      </a>
    </div>
  </div>
</section>

