.hero {
  background: no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  color: #fff;
  padding-left: 5px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding-left: 40px;
}

.hero-text-block h2,
.hero-text-block p {
  margin-left: 0;
  text-align: left;
}

.hero-text-block {
  padding-left: 5%;
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: transparent !important;
}

.navbar .nav-link{
  position: relative;
  padding-bottom: 4px;
  color: white;
  text-decoration: none;
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  border-bottom: 5px solid var(--primary);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}



.btn1 {
  background: var(--primary);
  color: var(--secondary);
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
}

.btn1:hover {
  background: var(--secondary);
  color: var(--primary);
}

.btn-outline-light {
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }

  .navbar .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    color: white !important;
  }
}











