<!-- <p>order works!</p> -->
<section
  class="order-section d-flex justify-content-center align-items-center"
  style="background-image: url('../home-img/232am.png');">
  <div class="order-card shadow-lg p-4 rounded">
    <div class="text-center mb-4">
      <img src="../home-img/Graph.png" alt="Logo" class="signup-logo" />
      <h2 class="fw-bold">Order Form</h2>
    </div>
    <form (submit)="orderNow()">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter your full name"
           [(ngModel)]="name"
          name="name"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="emal" class="form-label">Product Description</label>
        <input
          type="text"
          id="description"
          class="form-control"
          placeholder="Enter your full name"
           [(ngModel)]="description"
          name="description"
          required />
      </div>


      <div class="form-group mb-3">
        <label for="" class="form-label">Category Name</label>
        <input
          type="text"
          id="category_name"
          class="form-control"
          placeholder="Enter the name of the product name"
           [(ngModel)]="category_name"
          name="category_name"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="" class="form-label"> Subcategory Name</label>
        <input
          type="text"
          id="category_name"
          class="form-control"
          placeholder="Enter the name of the product name"
           [(ngModel)]="sub_category_name"
          name="sub_category_name"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="" class="form-label">Price</label>
        <input
          type="text"
          id="price"
          class="form-control"
          placeholder="Enter the price"
           [(ngModel)]="price"
          name="price"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="Stock" class="form-label">Stock</label>
        <input
          type="text"
          id="tel"
          class="form-control"
          placeholder="Enter number of stock"
           [(ngModel)]="stock"
          name="stock"
          required />
      </div>


      <div class="form-group mb-3">
        <label for="Stock" class="form-label"> Image </label>
        <input
          type="file"
          id="tel"
          class="form-control"
          placeholder="Enter number of stock"
           [(ngModel)]="stock"
          name="stock"
          required />
      </div>


      <button type="submit" class="btn btn-primary w-100">submit</button>
    </form>
  </div>
</section>

