<!-- <p>order works!</p> -->
<section
  class="signup-section d-flex justify-content-center align-items-center"
  style="background-image: url('../home-img/232am.png');">
  <div class="signup-card shadow-lg p-4 rounded">
    <div class="text-center mb-4">
      <img src="../home-img/Graph.png" alt="Logo" class="signup-logo" />
      <h2 class="fw-bold">Order Form</h2>
    </div>
    <form (submit)="onSignup()">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter your full name"
          name="name"
          required />
      </div>
      <div class="form-group mb-3">
        <label for="" class="form-label">Product Name</label>
        <input
          type="text"
          id=""
          class="form-control"
          placeholder="Enter the name of the product name"
          name="product_name"
          required />
      </div>
      <div class="form-group mb-3">
        <label for="" class="form-label">Your Address</label>
        <input
          type="text"
          id=""
          class="form-control"
          placeholder="Enter your address"
          name="address"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="tel"
          id="tel"
          class="form-control"
          placeholder="Enter your phone number"
          name="phone_no"
          required />
      </div>
      <button type="submit" class="btn btn-primary w-100">submit</button>
    </form>
  </div>
</section>

