/* Signup Section */
.order-section{
  position:relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  overflow:hidden;
  color: #fff;
}

/* Add space on smaller screens */
@media (max-width: 768px) {
   .order-card {
       margin: 20px 10px;
   }

   .order-section {
       padding: 20px 0;
   }
}

.order-section::before{
   content: '';
   position:absolute;
   top: 0;
   left:0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.order-card {
   position: relative;
   z-index: 2;
   width: 100%;
   max-width:400px;
   border-radius: 10px;
   padding: 20px;
}

.order-logo{
   width: 70px;
   height: 70px;
}

.form-control{
   border-radius: 5px;
   height: 45px;
}

.btn-primary{
   background-color: var(--primary);
   border: none;
   height: 45px;
   font-size: 1rem;
   border-radius: 15px;
}

.btn-primary:hover{
   background: #fff;
   color: var(--primary);
}

.text-p{
   color: var(--primary);
   text-decoration: none;
}

.text-p:hover{
   text-decoration: underline;
   color: #fff;
}



