<!-- <p>hero works!</p> -->
<div class="container">
  <div class="row align-items-center">
    <div id="textSection" class="col-lg-5 d-flex flex-column justify-content-center mb-2 text-white slide-in">
      <h1 class="display-4 mt-2">
        Mega Discounts On Tasty Bite and Healthy Food
      </h1>
      <p class="lead w-75">
        Whether you're a home cook or a seasoned chef, our carefully curated recipes and cooking tips will inspire you to refine your skills and explore new flavors. 🍽️🔥
      </p>
      <div class="button-container">
        <a routerLink="" class="btn btn1 text-uppercase">
          Register
        </a>
        <a routerLink="" class="btn btn-outline-light text-uppercase">
          Order here
        </a>
      </div>
    </div>

      <div id="imageSection" class="col-lg-6 mt-2 slide-in-right">
        <img src="../home-img/kilishi2.jpg" alt="" class="img-fluid rounded-5">
      </div>

  </div>
</div>
