.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background: #040f13;
  color: #fff;
  padding-top: 60px;
  transition: all 0.3s ease;
  z-index: 1030;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.sidebar a:hover {
  background-color:var(--primary);
}

/* new one */

.sidebar-link {
  padding: .625rem 1.625rem;
  position: relative;
  display: block;
}


.sidebarhover:hover {
  background: var(--primary);
  color: #fff;
  transition: all ease 0.25s;
  border-radius: 0.5rem;
}

.sidebar-logo a:hover {
  color: var(--primary);
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease 0.25s;
}

