<!-- <p>pupolar-food works!</p> -->
<section class="py-5">
  <div class="container py-5 mb-4 bg-dark">
    <h2 class="text-center mb-4 text-white">Discover Our Popular Food</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Burger">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">BURGER</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Announcing if attachment resolution sentiments at the projection.</h5>
                    <p><a class="btn btn1" routerLink="productdetail">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Food">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">FOOD</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">This prefabricated passive are comfortable highly sustainable.</h5>
                    <p><a class="btn btn1" routerLink="productdetail">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Pizza">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">PIZZA</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Minuter him own clothes but observe country at the maintaining.</h5>
                    <p><a class="btn btn1" routerLink="productdetail">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- <div class="container">
    <h2 class="text-center mb-4">Popular Food</h2>
    <div class="row text-center justify-content-center">
       <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="" class="mb-3">
        <h2>Heading</h2>
        <p class="para">Some representative placeholder content for the three columns of text below the carousel. </p>
        <p><a class="btn btn1" href="#">View details &raquo;</a></p>
       </div>

       <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="" class="mb-3">
        <h2>Heading</h2>
        <p class="para">Some representative placeholder content for the three columns of text below the carousel.</p>
        <p><a class="btn btn1" href="#">View details &raquo;</a></p>
       </div>

       <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="" class="mb-3">

        <h2>Heading</h2>
        <p class="para">Some representative placeholder content for the three columns of text below the carousel.</p>
        <p><a class="btn btn1" href="#">View details &raquo;</a></p>
       </div>
    </div>
  </div> -->

 </section>
