<!-- <p>pupolar-food works!</p> -->
<section class="py-5">
  <div class="container py-5 mb-4 bg-dark">
    <h2 class="text-center mb-4 text-white">Discover Our Popular Food</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Burger">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">BURGER</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Announcing if attachment resolution sentiments at the projection.</h5>
                    <p><a class="btn btn1" routerLink="productdetails">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Food">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">FOOD</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">This prefabricated passive are comfortable highly sustainable.</h5>
                    <p><a class="btn btn1" routerLink="productdetails">View details &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="position-relative">
                    <img src="../home-img/kilishi.jpeg" class="card-img-top" alt="Pizza">
                    <span class="badge bg-dark position-absolute top-0 start-0 m-2">PIZZA</span>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Minuter him own clothes but observe country at the maintaining.</h5>
                    <p><a class="btn btn1" routerLink="productdetails">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

 </section>
