<section
  class="signup-section d-flex justify-content-center align-items-center"
  style="background-image: url('../home-img/232am.png');">
  <div class="signup-card shadow-lg p-4 rounded">
    <div class="text-center mb-4">
      <img src="../home-img/Graph.png" alt="Logo" class="signup-logo" />
      <h2 class="fw-bold">Sign Up</h2>
    </div>
    <form (submit)="onSignup()">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter your full name"
          [(ngModel)]="user.name"
          name="name"
          required />
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          [(ngModel)]="user.email"
          name="email"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="user.password"
          name="password"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Confirm Password</label>
        <input
          type="password"
          id="Confirmpassword"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="user.confirmPassword"
          name="Confirmpassword"
          required />
      </div>

      <div class="form-group mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="tel"
          id="tel"
          class="form-control"
          placeholder="Enter your phone number"
           [(ngModel)]="user.phone_no"
          name="phone_no"
          required />
      </div>

      <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </form>
    <div class="text-center mt-3">
      <p>Already have an account? <a routerLink="/login" class="text-p">Login</a></p>
    </div>
  </div>
</section>

