<!-- <p>about works!</p> -->
<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Content -->
      <div class="col-md-6">
        <h2 class="text-center" >About Us</h2>
        <p>
          At <span class="brand-name">Mo Signatory Flovors</span> we are committed to quality, authenicity, and taste. Our goal is to bring a smile o your face with every product we offer. From the heart of our kitchen to your table, each bite, sip, and slice is a true testamen o our passion for flavor.
        </p>
        <p>
          Thank you for choosing Mo Signaory Flavors. We are here o make your day a little bit tastier!
        </p>
        <ul>
          <li>Delightful twist on traditional Kilishi (Beef Jerky)</li>
          <li>Fan Favourite Banana Bread</li>
          <li>Refreshing Zobo Drink</li>
        </ul>
        <a href="" class="btn btn1  mt-3">Explore Our Menu →</a>
      </div>

      <!-- Right Image -->
      <div class="col-md-6 text-center">
        <img
          src="../home-img/kilishi.jpeg"
          alt="Delicious Food"
          class="about-image rounded shadow-lg" />
      </div>
    </div>
  </div>
</section>


